<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header" class="container">
	<header
		class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
		<a href="/board"
			class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">로고
		</a>
		<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
			<li><a href="/board" class="nav-link px-2 link-dark">글 목록</a></li>
			<li><a href="/board/write" class="nav-link px-2 link-dark">글
					쓰기</a></li>
		</ul>
		<nav class="navbar">
			<div class="container-fluid">
				<form class="d-flex" role="search">
					<input class="form-control me-2" type="search" placeholder="Search"
						aria-label="Search">
					<button class="btn btn-outline-primary" type="submit">Search</button>
				</form>
			</div>
		</nav>
		<div class="col-md-3 text-end">
			<button type="button" th:onclick="|location.href='@{/board/login}'|"
				class="btn btn-outline-dark">Login</button>
			<button type="button" th:onclick="|location.href='@{/board/join}'|"
				class="btn btn-outline-dark">Join</button>
		</div>
	</header>
</div>
</html>