<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header" class="container">
	<header
		class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
		<a href="/board"> <img alt="로고" th:src="@{/img/logo.png}">
		</a>
		<nav class="navbar">
			<div class="container-fluid">
				<form th:action="|/board|" class="d-flex" role="search">
					<input name="searchKeyword" class="form-control me-2" type="search"
						placeholder="Search" aria-label="Search" th:value="${searchKeyword}">
					<button class="btn btn-outline-primary" type="submit">Search</button>
				</form>
			</div>
		</nav>
		<div class="col-md-3 text-end">
			<button type="button" th:onclick="|location.href='@{/board/login}'|"
				class="btn btn-outline-dark">Login</button>
			<button type="button" th:onclick="|location.href='@{/board/join}'|"
				class="btn btn-outline-dark">Join</button>
		</div>
	</header>
</div>
</html>