<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout-form::layout(~{::title}, ~{::section})}">

<title>border detail</title>

<section>
	<div class="container" style="max-width: 600px">
		<div class="text-center my-5">
			<h1>글 상세</h1>
		</div>
		<div class="mb-3">
			<label for="title" class="form-label">제목</label> <input type="text"
				name="title" class="form-control" id="title"
				th:value="${board.title}" readonly>
		</div>
		<div class="mb-3">
			<label for="content" class="form-label">내용</label>
			<textarea name="content" class="form-control" id="content" rows="8"
				th:text="${board.content}" readonly></textarea>
		</div>
		<div class="row">
			<div class="col">
				<button th:onclick="|location.href='@{|/board/${board.id}/edit|}'|"
					type="button" class="btn btn-outline-dark btn-lg w-100">수정</button>
			</div>
			<div class="col">
				<button th:onclick="|location.href='@{|/board/${board.id}/remove|}'|"
					type="button" class="btn btn-outline-dark btn-lg w-100">삭제</button>
			</div>
			<div class="col-6">
				<button th:onclick="|location.href='@{/board}'|" type="button"
					class="btn btn-secondary btn-lg w-100">목록</button>
			</div>
		</div>
	</div>
</section>

</html>