<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<div class="container" style="max-width: 600px">
		<table class="table table-hover text-center">
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>글쓴이</th>
					<!-- <th>조회수</th> -->
				</tr>
			</thead>
			<tbody>
				<tr th:each="board: ${boards}">
					<td th:text="${board.number}"></td>
					<td><a th:href="@{|/board/${board.number}|}"
						th:text="${board.title}"></a></td>
					<td th:text="${board.writer}"></td>
				</tr>
			</tbody>
		</table>
		<div class="row">
			<div class="col">
				<button onclick="location.href='/board/write'" type="button"
					class="btn btn-secondary btn-lg float-end">글 쓰기</button>
			</div>
		</div>
	</div>

</body>
</html>


















