<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<div class="container" style="max-width: 600px">
		<form th:action method="post"]>
			<div class="mb-3">
				<label for="title" class="form-label">제목</label> <input type="text"
					name="title" class="form-control" id="title"
					th:value="${board.title}">
			</div>
			<div class="mb-3">
				<label for="content" class="form-label">내용</label>
				<textarea name="content" class="form-control" id="content" rows="8"
					th:text="${board.content}"></textarea>
			</div>
			<div class="row">
				<div class="col">
					<button th:onclick="|location.href='@{/board/{boardNumber}(boardNumber=${board.number})}'|" type="button"
						class="btn btn-outline-dark btn-lg w-100">취소</button>
				</div>
				<div class="col">
					<button type="submit"
						class="btn btn-secondary btn-lg w-100">저장</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>