<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout-form::layout(~{::title}, ~{::section})}">
<title>write</title>

<section>
	<form action="/board/write" class="container" style="max-width: 600px"
		method="post">
		<div class="text-center my-5">
			<h1>글 쓰기</h1>
		</div>
		<div class="mb-3">
			<label for="title" class="form-label">제목</label> <input type="text"
				name="title" class="form-control" id="title"
				placeholder="제목을 입력하세요.">
		</div>
		<div class="mb-3">
			<label for="content" class="form-label">내용</label>
			<textarea name="content" class="form-control" id="content" rows="8"></textarea>
		</div>
		<div class="row">
			<div class="col">
				<button th:onclick="|location.href='@{/board}'|" type="button"
					class="btn btn-outline-dark btn-lg w-100">취소</button>
			</div>
			<div class="col">
				<button type="submit" class="btn btn-secondary btn-lg w-100">등록</button>
			</div>
		</div>
	</form>
</section>
</html>